<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="IsDebug" value="1"/>

        <add key="sqliteFilePath" value=""/>
        <add key="refreshDbSecond" value="10"/>

        <!-- 是否允许程序侦听工作 -->
        <add key="enableSocketListen" value="false"/>
        <!-- 程序监听端口号 -->
        <add key="listenPort" value="23244"/>
        <!-- 服务器等待客户端发送数据的时长(秒)，超时则关闭连接 -->
        <add key="waitClientSecond" value="60"/>

        <!-- 是否允许通过Socket进行文件管理 -->
        <add key="EnableFileAdmin" value="true"/>
        <!-- Socket上传下载文件时的临时写入目录 -->
        <add key="WritePath" value="E:\upload\planserver\downtmp"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
</configuration>
