<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- 要拷贝的文件所在的源目录，为空表示当前目录 -->
        <add key="SourcePath" value=""/>
        <!-- 要拷贝的文件目标的目录，不能为空 -->
        <add key="TargetPath" value="e:\aaa"/>
        <!-- 是否要拷贝System.Data.SQLite.dll，默认不拷贝，避免32位问题 -->
        <add key="CopySQLite" value="false"/>
    </appSettings>
</configuration>